
<% reviews.forEach((reviews) => { %>
  <div class="review-div">
    <h4><a href=/reviews/<%= reviews.id %>> "<%= reviews.title %>" </a></h4>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </div>
<% }); %>
