<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>
<div class="buttons">
  <i class="fa fa-angle-left" aria-hidden="true"></i>
  <i class="fa fa-angle-right" aria-hidden="true"></i>
</div>
<div class="splash-page slide">
</div>
<div class="splash-page2 slide">
</div>
<div class="splash-page3 slide">
</div>
<% include ./partials/footer.ejs %>
