<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>
<div class="buttons">
  <i class="fa fa-angle-left arrow" aria-hidden="true"></i>
  <i class="fa fa-angle-right arrow" aria-hidden="true"></i>
</div>
<div class="splash-page slide">

   <p id ="center-text">Welcome to ROAM</p>

</div>
<div class="splash-page2 slide">
     <p id ="center-text">Where to?</p>
</div>
<div class="splash-page3 slide">
 <p id ="center-text">Get honest Review</p>
</div>
<% include ./partials/footer.ejs %>
