<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>

<form class="form container align-items-center" action="/users/signup" method="post" style="height: 570px;">
  <div class="form-group col-md-auto d-flex justify-content-center">
    <img src="/images/Logo.png" alt="Logo" style="width: 100px; height: 100px;">
  </div>
  <h3 class="form-group col-md-auto">Sign Up</h3>
  <div class="form-group col-md-auto" >
    <label for="email">Email</label>
    <input style="width: 95%; border-radius: 2.px;" type="email" name="email" placeholder="example@example.net">
  </div>
  <div class="form-group col-md-auto" >
    <label for="password">Password</label>
    <input style="width: 95%; border-radius: 2.px;" type="password" name="password" placeholder="...">
  </div>
  <div class="form-group col-md-auto" >
    <label for="password">Confirm Password</label>
    <input style="width: 95%; border-radius: 2.px;" type="password" name="confirmPassword" placeholder="...">
  </div>
  <br>
  <p style="color: red;"><%= message  %></p>
  <button type="submit" class="btn btn-primary btn-lg btn-block" name="signup-submit">Sign Up</button>
</form>

<% include ./partials/footer.ejs %>