<div class="wrapper" style="margin: 25px;">
  <div class="d-flex justify-content-end">
    <div class="mr-auto p-2"> Roam </div>
    <% if (user) { %>
      <div class="p-2"> Profile </div>
      <div class="p-2"> Log Out </div>
    <% } else { %>
      <div class="p-2"> Sign Up </div>
      <div class="p-2"> Log In </div>
    <% } %>
  </div>
</div>
